<h3>Добавить новый комментарий</h3>
<%= form_for @user.wall_posts.new do |f| %>
  <%= f.hidden_field :user_id, value: @user.id %>

  <div class="field">
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>

  <div class="actions">
    <%= f.submit "Сохранить" %>
  </div>
<% end %>
