<h1><%= @user.first_name %>     <%= @user.last_name %></h1>

<% @user.products.each do |product| %>

<h2><%=  link_to product.name, product_path(product)  %></h2>

<% end %>



<%= form_for @user.products.new do |f| %>
  <%= f.hidden_field :user_id, value: @user.id %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div class="actions">
    <%= f.submit "Сохранить" %>
  </div>
<% end %>
