<!DOCTYPE html>
<html>
  <head>
    <title>NonameNetwork</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

 <body>

   <div class="navbar-right">
     <%= link_to 'Новый продукт', new_admin_product_path %>
   </div>

    <%= yield %>
  </body>
</html>
